<!DOCTYPE html>
<html lang="ko" style="height: 100% !important;" data-bs-theme="light"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragment/header :: headerFragment}"></head>

<body class="d-flex flex-column h-100">

	<nav th:replace="~{admin/navbar :: navbarFragment}"></nav>
	<nav th:replace="~{fragment/category_navbar :: navbarFragment}"></nav>

	<main layout:fragment="content"></main>

	<div th:replace="~{fragment/scripts :: scriptFragment}"></div>

	<div th:replace="~{admin/modal :: alertModal}"></div>

	<th:block layout:fragment="script" charset="utf-8"
		type="text/javascript"></th:block>

	<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>