<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="scriptFragment">
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript"
		src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>