<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" class="container my-3">
   <h5 class="border-bottom pb-2">[[${menuName}]] 게시판</h5>

   <div class="row">
      <div class="col">
         <!-- 상단: 작성 버튼 + 검색/개수 -->
         <div class="row my-3">
            <div class="col-5">
               <!-- 페이지당 개수 선택 -->
               <form th:action="@{|/board/list/${cid}|}" method="get" id="searchForm">
                  <select name="size" id="page_size_select" class="form-select mt-2"
                          style="max-width: 100px;">
                     <option value="10" th:selected="${size} == 10">10개</option>
                     <option value="20" th:selected="${size} == 20">20개</option>
                     <option value="30" th:selected="${size} == 30">30개</option>
                     <option value="50" th:selected="${size} == 50">50개</option>
                  </select>
                  <input type="hidden" name="kw" th:value="${kw}">
                  <input type="hidden" name="field" th:value="${field}">
                  <input type="hidden" name="page" id="page" th:value="${paging.number}">
               </form>
            </div>

            <!-- 검색바 -->
            <div class="col-7">
               <form th:action="@{|/board/list/${cid}|}" method="get" id="searchForm">
                  <div class="input-group">
                     <select name="field" id="search_field_select" class="form-select"
                             style="max-width: 140px;">
                        <option value="all" th:selected="${field} == 'all'">전체</option>
                        <option value="title_content" th:selected="${field} == 'title_content'">제목+내용</option>
                        <option value="title" th:selected="${field} == 'title'">제목</option>
                        <option value="content" th:selected="${field} == 'content'">내용</option>
                        <option value="author" th:selected="${field} == 'author'">글쓴이</option>
                        <option value="comment" th:selected="${field} == 'comment'">댓글내용</option>
                     </select>
                     <input type="text" name="kw" id="search_kw" class="form-control"
                            th:value="${kw}">
                     <button class="btn btn-outline-info" type="submit" id="btn_search">검색</button>
                  </div>
                  <input type="hidden" name="page" id="page" value="0">
               </form>
            </div>
         </div>

         <!-- 목록 테이블 -->
         <table class="table board">
            <thead class="table-info">
               <tr class="text-center">
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>조회</th>
                  <th>추천</th>
               </tr>
            </thead>
            <tbody>
               <tr class="text-center" th:each="board, loop : ${paging}">
                  <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                  <td class="text-start">
                     <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.subject}"></a>
                     <span class="badge bg-info"
                           th:if="${#lists.size(board.commentList) > 0}"
                           th:text="${#lists.size(board.commentList)}"></span>
                  </td>
                  <td><span th:if="${board.author != null}" th:text="${board.author.username}"></span></td>
                  <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                  <td><span th:text="${board.viewCount}">0</span></td>
                  <td><span th:text="${#lists.size(board.voter)}">0</span></td>
               </tr>
               <tr class="text-center" th:if="${paging.isEmpty()}">
                  <td colspan="6">게시글이 존재하지 않습니다.</td>
               </tr>
            </tbody>
         </table>

         <!-- 페이징 -->
         <div th:if="${!paging.isEmpty()}"
              th:with="
                  blockStart=${paging.number - (paging.number % 10)},
                  blockEnd=${(paging.number - (paging.number % 10)) + 9},
                  lastIndex=${paging.totalPages - 1},
                  isFirstBlock=${(paging.number - (paging.number % 10)) == 0},
                  isLastBlock=${((paging.number - (paging.number % 10)) + 9) >= (paging.totalPages - 1)}">
            <ul class="pagination justify-content-center">
               <li class="page-item" th:if="${!isFirstBlock}">
                  <a class="page-link" href="javascript:void(0)" th:data-page="0" aria-label="처음">
                     <span aria-hidden="true">&laquo;</span>
                  </a>
               </li>
               <li class="page-item" th:if="${!isFirstBlock}">
                  <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number - 1}" aria-label="이전">
                     <span aria-hidden="true">&lsaquo;</span>
                  </a>
               </li>
               <li th:each="page : ${#numbers.sequence(blockStart, T(java.lang.Math).min(blockEnd, lastIndex))}"
                   class="page-item" th:classappend="${page == paging.number} ? 'active'">
                  <a class="page-link" href="javascript:void(0)" th:data-page="${page}" th:text="${page + 1}"></a>
               </li>
               <li class="page-item" th:if="${!isLastBlock}">
                  <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number + 1}" aria-label="다음">
                     <span aria-hidden="true">&rsaquo;</span>
                  </a>
               </li>
               <li class="page-item" th:if="${!isLastBlock}">
                  <a class="page-link" href="javascript:void(0)" th:data-page="${lastIndex}" aria-label="마지막">
                     <span aria-hidden="true">&raquo;</span>
                  </a>
               </li>
            </ul>
         </div>

         <!-- 등록 버튼 -->
         <a th:href="@{|/board/create/${cid}|}" class="btn btn-info">등록</a>
      </div>
   </div>
</div>
<script layout:fragment="script" type="text/javascript">
    // 엔터로 제출 시도해도 현재 값 그대로 전송(추가 로직 불필요)
    // 뒤로가기 캐시 대응
    window.addEventListener('pageshow', function (e) {
        if (e.persisted)
            window.location.reload();
    });
</script>
</html>
