<!-- 기본 레이아웃 상속 -->
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
	<h5 class="my-3 border-bottom pb-2">게시판</h5>

	<!-- 본문 카드 (화이트) -->
	<div class="card border-0 shadow-sm">
		<div class="card-body bg-white">
			<h3 class="border-bottom pb-2" th:text="${board.subject}"></h3>
			<!-- 본문 -->

			<div id="viewer" class="card-text viewer"></div>
			<input type="hidden" id="ecp1" th:value="${board.contents}">
			<div class="d-flex justify-content-between mt-2">
				<!-- 				액션 버튼 (중립 위주) -->
				<!-- 				<div class="my-3 d-flex gap-2"> -->
				<div class="mt-3">
					<a href="javascript:void(0);"
						class="recommend btn btn-sm btn-outline-info"
						th:data-uri="@{|/board/vote/${board.id}|}">추천 <span
						class="badge rounded-pill bg-info"
						th:text="${#lists.size(board.voter)}"></span>
					</a> <a href="javascript:void(0);"
						class="favorite btn btn-sm btn-outline-info"
						th:data-uri="@{|/board/favorite/${board.id}|}"> <span
						className='star_icon'> <svg
								xmlns="http://www.w3.org/2000/svg" width="20" height="20"
								viewBox="1 0 16 16" transform="translate(-1 -1)">
								<path id="star"
									d="M9,2l2.163,4.279L16,6.969,12.5,10.3l.826,4.7L9,12.779,4.674,15,5.5,10.3,2,6.969l4.837-.69Z"></path>
                </svg>
					</span> <!-- <span --> <!-- class="badge rounded-pill bg-info" --> <!-- th:text="${#lists.size(board.favorite)}"> </span> -->
					</a> <a th:href="@{|/board/modify/${board.id}|}"
						class="btn btn-sm btn-outline-info"
						sec:authorize="isAuthenticated()"
						th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.username}">
						수정 </a> <a href="javascript:void(0);"
						th:data-uri="@{|/board/delete/${board.id}|}"
						class="delete btn btn-sm btn-outline-info"
						sec:authorize="isAuthenticated()"
						th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.username}">
						삭제 </a>
				</div>

				<!-- 작성 정보 -->
				<div
					class="badge bg-info-custom bg-opacity-10 text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${board.author != null}"
							th:text="${board.author.username}"></span>
					</div>
					<div
						th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- 댓글 수 -->
	<div class="d-flex justify-content-between mt-2 align-b">
		<span th:text="|${cpaging.totalElements}개의 댓글이 있습니다.|"></span>
	</div>

	<!-- 댓글 리스트 (화이트) -->
	<div class="card border-0 shadow-sm my-3"
		th:each="comment : ${cpaging.content}">
		<a th:id="|comment_${comment.id}|"></a>
		<div class="card-body bg-white">
			<div class="card-text text-body"
				th:utext="${@commonUtil.markdown(comment.contents)}"></div>
			<div class="d-flex justify-content-between mt-2">
				<div class="mt-3">
					<a href="javascript:void(0);"
						class="recommend btn btn-sm btn-outline-info"
						th:data-uri="@{|/comment/vote/${comment.id}|}"> 추천 <span
						class="badge rounded-pill bg-info ms-1"
						th:text="${#lists.size(comment.voter)}"></span>
					</a> <a href="javascript:void(0);"
						class="favorite btn btn-sm btn-outline-info"
						th:data-uri="@{|/comment/favorite/${comment.id}|}"> <span
						className='star_icon'> <svg
								xmlns="http://www.w3.org/2000/svg" width="20" height="20"
								viewBox="1 0 16 16" transform="translate(-1 -1)">
								<path id="star"
									d="M9,2l2.163,4.279L16,6.969,12.5,10.3l.826,4.7L9,12.779,4.674,15,5.5,10.3,2,6.969l4.837-.69Z"></path></svg>
					</span> <!-- 						<span --> <!-- 						class="badge text-bg-light ms-1" -->
						<!-- 						th:text="${#lists.size(comment.favorite)}"></span> -->
					</a> <a th:href="@{|/comment/modify/${comment.id}|}"
						class="btn btn-sm btn-outline-info"
						sec:authorize="isAuthenticated()"
						th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}">
						수정 </a> <a href="javascript:void(0);"
						th:data-uri="@{|/comment/delete/${comment.id}|}"
						class="delete btn btn-sm btn-outline-info"
						sec:authorize="isAuthenticated()"
						th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}">
						삭제 </a>
				</div>

				<div
					class="badge bg-info-custom bg-opacity-10 text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${comment.author != null}"
							th:text="${comment.author.username}"></span>
					</div>
					<div
						th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${!cpaging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<li class="page-item"
				th:classappend="${!cpaging.hasPrevious} ? 'disabled'"><a
				class="page-link cpage-link" href="javascript:void(0)"
				th:data-page="${cpaging.number-1}"> <span>이전</span>
			</a></li>

			<li th:each="page: ${#numbers.sequence(0, cpaging.totalPages-1)}"
				th:if="${page >= (cpaging.number - (cpaging.number % 10)) 
            and page <= (cpaging.number - (cpaging.number % 10) + 9)}"
				th:classappend="${page == cpaging.number} ? 'active'"
				class="page-item"><a th:text="${page+1}"
				class="page-link cpage-link" href="javascript:void(0)"
				th:data-page="${page}"></a></li>

			<li class="page-item"
				th:classappend="${!cpaging.hasNext} ? 'disabled'"><a
				class="page-link cpage-link" href="javascript:void(0)"
				th:data-page="${cpaging.number+1}"> <span>다음</span>
			</a></li>
		</ul>
	</div>

	<!-- 댓글 작성 -->
	<form th:action="@{|/comment/create/${board.id}|}"
		th:object="${commentForm}" method="post" class="my-3">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<textarea sec:authorize="isAnonymous()" disabled
			th:field="*{contents}" class="form-control" rows="6"></textarea>
		<textarea sec:authorize="isAuthenticated()" th:field="*{contents}"
			class="form-control" rows="6"></textarea>

		<input type="submit" value="저장" class="btn btn-info my-2"> <a
			th:href="@{/board/list}" class="btn btn-info my-2">목록</a>
	</form>
	<form th:action="@{|/board/detail/${board.id}|}" method="get"
		id="cmtPageForm">
		<input type="hidden" id="cpage" name="cpage"
			th:value="${cpaging.number}">
	</form>

</div>

<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			if (confirm("정말로 삭제하시겠습니까?"))
				location.href = this.dataset.uri;
		});
	});

	const recommend_elements = document.getElementsByClassName("recommend");
	Array.from(recommend_elements).forEach(function(element) {
		element.addEventListener("click", function(e) {
			e.preventDefault(); // a/href 클릭 기본 이동 막기(선택)
			location.href = this.dataset.uri; // 바로 토글 요청 보내기
		});
	});

	const favorite_elements = document.getElementsByClassName("favorite");
	Array.from(favorite_elements).forEach(function(element) {
		element.addEventListener("click", function(e) {
			e.preventDefault(); // a/href 클릭 기본 이동 막기(선택)
			location.href = this.dataset.uri; // 바로 토글 요청 보내기
		});
	});

	const cpageLinks = document.getElementsByClassName("cpage-link");
	Array.from(cpageLinks).forEach(function(el) {
		el.addEventListener('click', function() {
			document.getElementById('cpage').value = this.dataset.page;
			document.getElementById('cmtPageForm').submit();
		});
	});
</script>
</html>