<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
아이디 찾기 확인 페이지입니다.
<div>
<br>
<span>귀하의 아이디는 : </span>
<span th:text= ${username}></span>
</div>
<div>
<!-- 이 아래는 부트스트랩 카드에 대해 사용중임 -->
<div class="card" style="width: 18rem;">
<img src="http://image.dongascience.com/Photo/2019/04/fcf5e163425849c0502cee4fa87b4d23.jpg" class="card-img-top" alt="...">
</div>

</div>

</body>
</html>