<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
모르겠다요
<div>
<br>
<span>귀하의 아이디는 : </span>
<span th:text= ${username}></span>
</div>
<div>
<!-- 이 아래는 부트스트랩 카드에 대해 사용중임 -->
<div class="card" style="width: 18rem;">
<img src="http://image.dongascience.com/Photo/2019/04/fcf5e163425849c0502cee4fa87b4d23.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>

</div>

</body>
</html>