<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" class="container my-3">
	<form th:action="@{/user/login}" method="post">
		<div th:if="${param.error}">
			<div class="alert alert-danger">사용자ID 또는 비밀번호를 확인해 주세요.</div>
		</div>
		<div class="mb-3">
			<!--         username으로 선언해야 UserSecurityService에서 받아서 사용함 -->
			<!--         userId로 받아보니까 작동 안하는거 확인 -->
			<label for="username" class="form-label">사용자ID</label> <input
				type="text" name="username" id="username" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">비밀번호</label> <input
				type="password" name="password" id="password" class="form-control">
		</div>
		<div class="align-r">
			<button type="submit" class="btn btn-info">로그인</button>
		</div>
	</form>
</div>

<script layout:fragment="script" type="text/javascript"
	th:inline="javascript">
	// FlashAttribute에 담긴 'message' 변수를 자바스크립트로 가져옴
	const message = /*[[${message}]]*/null;

	// 메시지가 존재하면 팝업을 띄움
	if (message) {
		alert(message);
	}
</script>
</html>
