<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" class="container my-3">
	어서와 아무것도 없지롱

	<div>
		<br> <a class="btn btn-outline-info" href="/signupsuccess_form"
			role="button">회원가입 성공페이지</a> <a class="btn btn-outline-secondary"
			href="/user/login" role="button">로그인</a> <a
			class="btn btn-outline-success" href="/user/signup" role="button">회원가입</a>
	</div>

</div>
</html>